<!-- CV Section -->
<section id="cv" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>CV</h2>
      <h3 class="cv">Employment History</h3>
      <h4 class="cv">BMSHome Limited (trading as Thermionix Energy) - Sunderland, Tyne and Wear</h4>
      <h5 class="cv">Software Engineer - August 2013 - Present</h5>
      <ul class="cv">
        <li class="cv">Used experience gained in previous role to help architect major design improvements to an existing system.</li>
        <li class="cv">Reimplemented the above system in Python. This drastically increased development speed, allowing the company to meet the requirements of a project and claim funding which would otherwise have been lost.</li>
        <li class="cv">Played a key role in all areas of the development lifecycle of the above system, including requirements gathering, design, development and deployment.</li>
        <li class="cv">Split up the functionality of a large, monolithic application using the RabbitMQ message broker. This increased the stability and robustness of the system, as well as allowing for individual testing of each system component.</li>
        <li class="cv">Wrote asynchronous Python code using Twisted, including handling of inbound TCP connections, outbound HTTP requests, communication with a RabbitMQ server using the Pika library and asynchronous database access using SQLAlchemy and Alchimia.</li>
        <li class="cv">Wrote firmware for various ARM chips using the Arduino IDE, gaining a working knowledge of several built-in and third party libraries.</li>
        <li class="cv">Presented feedback on various technical aspects of the project to colleagues, managers and investors both during project meetings and in the form of written reports.</li>
        <li class="cv">Used the Pandas and Numpy libraries for basic data analysis and used the Matplotlib library to generate static and live graphs. Also gained some exposure to the Flask web framework whilst writing simple RESTful APIs.</li>
        <li class="cv">Set up and administered several Git repositories hosted on GitHub, working with colleagues to establish the most suitable workflow and agree conventions for ticket, pull request and branch naming.</li>
        <li class="cv">Set up and administered several Linux-based VPSes, including a production server supporting several customers.</li>
      </ul>
      <h5 class="cv">Graduate Intern (Software Engineer/Programmer) - August 2012 - August 2013</h5>
      <ul class="cv">
        <li class="cv">Learned Ada from scratch immediately after starting role whilst also becoming familiar with a large existing codebase.</li>
        <li class="cv">Worked closely with a colleague to maintain and develop the above code.</li>
        <li class="cv">Designed and implemented several GTK user interfaces making use of the Glade UI Designer and GtkAda binding.</li>
        <li class="cv">Set up and administered a source control system based around Subversion and the Trac issue tracking system.</li>
        <li class="cv">Pioneered the use of Python scripting to perform tasks for which the existing Ada code was too inflexible. This included creating custom monitoring scripts which saved several hours per week of manually examining test data and caught bugs which may otherwise have gone unnoticed.</li>
        <li class="cv">Took ownership of several of the above projects, in some cases completing proof-of-concept work outside of work time to prove their viability and justifying the business case for completing them to colleagues and managers.</li>
      </ul>
      <h4 class="cv">Echostar Europe - Steeton, West Yorkshire</h4>
      <h5 class="cv">Undergraduate Software Engineer - July 2008 - August 2009</h5>
      <ul class="cv">
        <li class="cv">One year work placement undertaken as part of BSc Computer Science course.</li>
        <li class="cv">Maintained and updated a large C program running under a UNIX-like environment on satellite set-top boxes.</li>
        <li class="cv">Learned Python, and applied this knowledge whilst maintaining a multi-threaded Python script used to control and monitor the above.</li>
        <li class="cv">Gained a working knowledge of the DVB family of protocols whilst working with satellite and terrestrial transport streams.</li>
        <li class="cv">Gained extensive experience working in the Linux console and using the CVS source control system.</li>
      </ul>
      <h3 class="cv">Education</h3>
      <h4 class="cv">Northumbria University - Newcastle upon Tyne</h4>
      <h5 class="cv">BSc Computer Science (Hons): 2:1 - 2006 - 2010</h5>
      <p class="cv">Included the following modules:</p>
      <ul class="cv">
        <li class="cv">Programming 2 (Java) – 100%</li>
        <li class="cv">Data Structures and Algorithms – 91%</li>
        <li class="cv">Introduction to Internet Technologies – 90%</li>
        <li class="cv">Relational Databases: Theory and Practise – 85%</li>
      </ul>
      <h4 class="cv">City of Sunderland College - Sunderland, Tyne and Wear</h4>
      <h5 class="cv">'A' Levels - 2004 - 2006</h5>
      <ul class="cv">
        <li class="cv">Computing (A)</li>
        <li class="cv">Psychology (B)</li>
        <li class="cv">English Language (C)</li>
        <li class="cv">General Studies (D)</li>
      </ul>
      <h4 class="cv">Southmoor Community School - Sunderland, Tyne and Wear</h4>
      <h5 class="cv">GCSEs - 1999 - 2004</h5>
      <p class="cv">11 GCSEs at grades A* - B including Computing (A*), Maths (A) and English Language (B)</p>
      <h3 class="cv">Personal Projects</h3>
      <h4 class="cv">PebHub</h4>
      <h5 class="cv">Pebble Smartwatch App - 2015</h5>
      <p class="cv">Pebble Smartwatch application to display the GitHub activity feed for a given user. Written using the PebbleJS JavaScript framework. Source code available at <a href="https://github.com/stephen-mitchell/PebHub">https://github.com/stephen-mitchell/PebHub</a>. Has been downloaded more than 500 times from the Pebble App Store.</p>
      <h3 class="cv">Technical Skills</h3>
      <h4 class="cv">Proficient</h4>
      <ul class="cv">
        <li class="cv">Python, including Twisted, Pika, SQLAlchemy, Flask and Tkinter libraries</li>
        <li class="cv">Arduino (C/C++-like syntax), including various built-in and third party libraries</li>
        <li class="cv">MySQL (usage and some administration)</li>
        <li class="cv">Git (usage and administration through GitHub), including the Git Flow methodology</li>
        <li class="cv">Markdown (including GitHub Flavoured Markdown)</li>
      </ul>
      <h4 class="cv">Past Exposure</h4>
      <ul class="cv">
        <li class="cv">Additional Python libraries including Pandas, Numpy and Matplotlib</li>
        <li class="cv">Ada</li>
        <li class="cv">C</li>
        <li class="cv">Java (academic only)</li>
        <li class="cv">C++ (academic only)</li>
        <li class="cv">Oracle 9 (usage, academic only)</li>
        <li class="cv">LaTeX</li>
        <li class="cv">HTML 4.0 and CSS</li>
        <li class="cv">Subversion (usage and administration)</li>
        <li class="cv">CVS (usage)</li>
      </ul>
    </div>
  </div>
</section>
